<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <RollingFile
                name="rollingFile"
                fileName="${sys:user.dir}/application.log"
                filePattern="${sys:user.dir}/application.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} !! %-5p !! %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.mosh" level="debug" additivity="true">
            <appender-ref ref="rollingFile" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>