<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <jsp-file>/forgot.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <jsp-file>/user-profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/user-profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersList</servlet-name>
        <jsp-file>/users-list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersList</servlet-name>
        <url-pattern>/users-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Announcements</servlet-name>
        <jsp-file>/announcements.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Announcements</servlet-name>
        <url-pattern>/announcements</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Quiz</servlet-name>
        <jsp-file>/quiz.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Quiz</servlet-name>
        <url-pattern>/quiz</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuizResult</servlet-name>
        <jsp-file>/quiz-result.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizResult</servlet-name>
        <url-pattern>/quiz-result</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Activities</servlet-name>
        <jsp-file>/activities.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activities</servlet-name>
        <url-pattern>/activities</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>top-quizzes</servlet-name>
        <jsp-file>/top-quizzes.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>top-quizzes</servlet-name>
        <url-pattern>/top-quizzes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>quizDetails</servlet-name>
        <jsp-file>/quiz-details.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>quizDetails</servlet-name>
        <url-pattern>/quiz-details</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>contact</servlet-name>
        <jsp-file>/contact.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>inbox</servlet-name>
        <jsp-file>/inbox.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>inbox</servlet-name>
        <url-pattern>/inbox</url-pattern>
    </servlet-mapping>
</web-app>
